<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CraigsUtilityLibrary-Compression" version="3.2.0033" targetFramework="net45" />
  <package id="CraigsUtilityLibrary-DataTypes" version="3.2.0033" targetFramework="net45" />
  <package id="CraigsUtilityLibrary-Encryption" version="3.2.0033" targetFramework="net45" />
  <package id="CraigsUtilityLibrary-Events" version="3.2.0033" targetFramework="net45" />
  <package id="CraigsUtilityLibrary-Exchange" version="3.2.0033" targetFramework="net45" />
  <package id="CraigsUtilityLibrary-FileFormats" version="3.2.0033" targetFramework="net45" />
  <package id="CraigsUtilityLibrary-IO" version="3.2.0033" targetFramework="net45" />
  <package id="CraigsUtilityLibrary-LDAP" version="3.2.0033" targetFramework="net45" />
  <package id="CraigsUtilityLibrary-Math" version="3.2.0033" targetFramework="net45" />
  <package id="CraigsUtilityLibrary-Random" version="3.2.0033" targetFramework="net45" />
  <package id="CraigsUtilityLibrary-Reflection" version="3.2.0033" targetFramework="net45" />
  <package id="CraigsUtilityLibrary-Web" version="3.2.0033" targetFramework="net45" />
  <package id="ExchangeWebServices" version="1.1" targetFramework="net45" />
  <package id="NetOffice.Core" version="1.6.0.0" targetFramework="net45" />
  <package id="NetOffice.Outlook" version="1.6.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="RestSharp" version="105.0.1" targetFramework="net45" />
</packages>